In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
def preprocess_df(df):
    df["deadline"] = pd.to_datetime(df["deadline"])
    df["launched"] = pd.to_datetime(df["launched"])
    df["success"] = df["pledged"] >= df["goal"]
    df["duration"] = df["deadline"] - df["launched"]
    
    return df

In [3]:
def clean_df(df):
    df = df.drop(df.loc[df["duration"] < datetime.timedelta(days=1)].index)
    df = df.drop(df.loc[df["state"] == "live"].index)
    df = df.drop(df.loc[df["state"] == "canceled"].index)
    
    return df

In [4]:
train_full = pd.read_csv("data/2018-train.csv").dropna()
validate_full = pd.read_csv("data/2018-validate.csv").dropna()

In [5]:
train_pp = preprocess_df(train_full)
validate_pp = preprocess_df(validate_full)

In [6]:
train_clean = clean_df(train_pp)
validate_clean = clean_df(validate_pp)

In [7]:
train_clean.loc[train_clean["pledged"] >= train_clean["goal"]].groupby("state").count()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,backers,country,usd pledged,usd_pledged_real,usd_goal_real,success,duration
state,,,,,,,,,,,,,,,,,
failed,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
successful,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364,100364
suspended,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228,228